<!DOCTYPE html>
<html lang="en">

    <head>
        {{!-- Required meta tags --}}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {{!-- Bootstrap CSS --}}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="../style/style.css">
        {{!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> --}}
        <title>Air BS</title>
    </head>
    <body onload="randomBook();" id="bodyb">
        <section id="contain">
            <div id="banner">        
                <header>
                    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-3">
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5 text-center">
                            <h1>
                                <a class="Air" href="/">Air BS</a>
                            </h1>
                        </div>
                        <div class="burger">
                            <div class="wrapper" onclick="bodyToggle()">
                                <div class="icon" id="toggleIcon" onclick="menuToggle()">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>    
                            </div>
                            <div id="menu-overlay">
                                <ul>
                                    <li class="burger_text_Air">Air BS</li>
                                    <li class="bta pb-3"><a href="/">Home</a></li>
                                    <li><a href="/books">Books</a></li>
                                </ul>
                            </div>        
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-9 col-sm-7 hbp">
                            <ul class="row col-xl-11 col-lg-12 col-md-12 d-flex justify-content-end">
                                <li class="pr-5"><a class="Home_Book_active" href="/">Home</a></li>
                                <li class="pl-5"><a class="Home_Book" href="/books">Books</a></li>
                            </ul>
                        </div>
                    </div>
                </header>
                <div class="text-center text_c">
                    <span class="h_text"></span>
                </div>
                <div class="button_n col-xl-12 col-lg-12 col-md-12 col-sm-12 d-flex justify-content-end">
                    <a class="button_c" href="/books">
                        Искать книгу сейчас
                        <div class="arrow"></div>
                    </a>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 scrolldown">
                    <a href="#next_section_about_us">
                        <span></span>
                        <span></span>    
                    </a>
                </div>
            </div>
        </section>
        {{!-- Блок О нас --}}
        <section id="next_section_about_us">
            <div class="m_block_about_us col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 block_about_us">
                    <div class="h2_about_us col-md-12 col-sm-12 text-center">
                        <h2>О нас</h2>
                    </div>
                    <div class="img_block_about_us col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center">
                        <img class="img_about_us" src="images/about_us.jpg">
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-center text_block_about_us ">
                        <h2 class="h_about_us">О нас</h2>
                        <p class="text_about_us">Вы долго искали книги в интернете в поисках оптимальной цены ? <br> Мы сделали  сайт который предоставляет бесплатную услугу по поиску книг из 10 самых популярных книжных магазинов. Выбирите для себя и для своих близких книгу не теряя много времени в поисках оптимальной цены.</p>
                    </div>
                </div>
            </div>
        </section>
        {{!-- Блок Контакты --}}
        <section id="contact">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 block_contact">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-center">
                        <h2 class="h_contact">Контакты</h2>
                        <div class="desktop_info_block">
                            <p class="text_contact">Возникли вопросы или есть предложения? <br>Пишите или Звоните!!!</p>
                            <div class="phone_and_gmail">
                                <div class="row text_contact text_phone">
                                    <img class="img_phone" src="images/phone.png">
                                    <p>Телефон</p><p class="ml-5">+7 999 999 99 99</p>    
                                </div>
                                <div class="row text_contact">
                                    <img class="img_gmail" src="images/gmail.png">
                                    <p>E-mail</p><p class="ml-5">t.kalabin@mail.ru</p>    
                                </div>    
                            </div>    
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center">
                        <img class="img_contact" src="images/contact.jpg" alt="">
                    </div>
                    <div class="col-md-12 col-sm-12 modile_info_block">
                        <p class="text_contact marg_text_contact">Возникли вопросы или есть предложения? <br>Пишите или Звоните!!!</p>
                        <div class="col-md-12 col-sm-12 phone_and_gmail">
                            <div class="col-md-12 col-sm-12 d-flex justify-content-center row text_contact text_phone">
                                <img class="img_phone" src="images/phone.png">
                                <p>Телефон</p><p class="ml-5 ml_ph">+7 999 999 99 99</p>    
                            </div>
                            <div class="col-md-12 col-sm-12 d-flex justify-content-center row text_contact">
                                <img class="img_gmail" src="images/gmail.png">
                                <p>E-mail</p><p class="ml-5 ml_tk">t.kalabin@mail.ru</p>    
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{!-- Блок Книги --}}
        <section>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 marg_book">
                <div class="h2_book text-center marg_book_b">
                    <h1>Книги</h1>
                </div>
                <div class="book_left">
                    <div id="randomBook" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 row text_book d-flex justify-content-center"></div>
                </div>
                <div class="button_n col-xl-12 col-lg-12 col-md-12 col-sm-12 d-flex justify-content-end button_marg">
                    <a class="button_c" href="/books">
                        Искать книгу сейчас
                        <div class="arrow"></div>
                    </a>
                </div>        
            </div> 
        </section>
        {{!-- Блок Footer --}}
        <section>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 footer">
                <h1 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center Air2 mb_title_footer">Air BS</h1>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb_text_footer flex_footer">
                        <p class="col-xl-6 col-lg-6 col-md-7 col-sm-7 ml_text_footer mb-0"><a href="#">Home</a></p>
                        <p class="mb-0 ml-books"><a href="/books">Books</a></p>    
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb_text_footer ml_about">
                        <p class="ml_text_footer mb-0"><a href="#next_section_about_us">О нас</a></p>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 flex_footer flex_footer2 other_footer_text mb_text_Timur">
                        <p class="col-xl-2 col-lg-2 col-md-2 col-sm-2 ml_text_footer mt_contact"><a href="#contact">Контакты</a></p>
                        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 flex_footer ml-books ml-book">
                            <img class="img_phone_footer" src="images/phone.png">
                            <p>+7 999 999 99 99</p>    
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-3 flex_footer d-flex justify-content-center ml-book mlg_book">
                            <img class="img_gmail_footer" src="images/gmail.png">
                            <p>t.kalabin@mail.ru</p>    
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center text_Timur">
                        <p class="m-0">By Timur Kalabin</p>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center text-center Copyright_text">
                        <p class="m-0">Copyright © 2020 Air BS Все права защищены.</p>
                    </div>
                </div>
            </div>
        </section>

        {{!-- Optional JavaScript --}}
        {{!-- jQuery first, then Popper.js, then Bootstrap JS --}}
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>        
        <script src="scripts/randomBook.js"></script>
        <script src="scripts/effect.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>        
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>